 <section class="hero has-background-danger-dark">
    <div class="hero-body">
      <p class="title has-text-black">
        Your Dashboard
      </p>
    </div>
  </section>
<div class="columns is-multiline" id="card-container">
  <div class="column is-full spacer">
    <a href="/newpost">
    <button class="button has-background-danger-dark has-text-white" id="new-post-button">Create new post</button>
    </a>
  </div>
  {{!-- blog posts added here --}}



  {{!-- blog posts added here --}}
  </div>
  <script href="./js/dashboard.js"></script>