<section class="hero has-background-danger-dark">
    <div class="hero-body">
      <p class="title has-text-white">
        Your Dashboard
      </p>
    </div>
  </section>
  <div class="columns is-multiline" id="card-container">
    <div class="column is-full spacer">
    </div>

    <div class="column is-four-fifths" id="new-post-col">
      <div class="field">
        <p class="control"> Title
          <input class="input is-danger" id="new-post-title" type="text" placeholder="Title">
        </p>
      </div>
      <div class="field">
        <p class="control">Content
          <textarea class="textarea is-danger" id="new-post-content" placeholder="New post Content"></textarea>
        </p> 
    </div>
      <div class="field">
        <p class="control">
          <button class="button has-background-danger-dark has-text-white" id="new-post-submit">
            Create
          </button>
        </p>
      </div>

    </div>
  </div>
  <div class="columns is-multiline" id="card-container">
    <div class="column is-full spacer">
    </div>

    <div class="column is-full">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{title}}
          </p>
          <p class="has-text-right">
            created by {{user.username}} on {{format_date post.date_created}}

          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{content}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item has-background-danger-dark has-text-white">Submit</a>
        </footer>
      </div>
    </div>

    </div>
  </div>
  <script href="./js/post.js"></script>
