
  <div class="columns is-multiline" id="card-container">
    <div class="column is-full spacer">
    </div>

    <div class="column is-full">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{title}}
          </p>
          <p class="has-text-right">
            created by {{creator_id}} on DATE

          </p>
        </header>
        <div class="card-content">
          <div class="content">
            {{content}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item has-background-danger-dark has-text-white">Submit</a>
        </footer>
      </div>
    </div>

    </div>
  </div>